.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #00838F ;
  box-shadow: 0 0 5px rgba(128, 222, 234, 0.5);
}
